html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px; /* Adjust this value to match your sticky header's height */
}

#container {
 width: 80%;
 background-color:#ffffff;
 margin:0px auto;
}

#header { 
 text-align: center;  
 background-color:#D6C299;
 height: 200px;
 width: 100%;
}

#menu {
 /* float: left; */
 display: flex; /* Use Flexbox to layout children */
 justify-content: space-around; /* Space out the menu items evenly */
 /* width: 100%; */
 background-color:#e0e0e0; 
 font-family: Verdana, Arial, Helvetica, sans-serif; color:#000000;
 font-size: 1.0em; 
 position: sticky; 
 z-index: 1000;
 top:0;
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type: none;
 display: flex;
 width: 100;
 justify-content: space-around; /* Space out the list items evenly */
} 

#menu ul li {
    display: inline-flex;
    position: relative;
    align-items: center; /* Aligns the content of li */
} 

#menu li {
    float: none;
    display: block;
    position: relative;
}

#menu li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black; 
}

#menu li a.menu-level-1 {     
 display: inline-block;
 position: relative;
 border-right: 1px solid #000000;
}
#menu li a.menu-level-1-last {     
 display: inline-block;
 position: relative;
}

#menu li ul a.menu-level-2 {
 float: none; 
 display: block;
 padding: 10px 30px;
 width: 100%;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block; /* or flex if you prefer */
}

#menu li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    left: 0;
    top: 100%; /* Positioned right below the li element */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

#menu li:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}

#menu li .dropdown-content li {
    display: block; /* Ensures dropdown items are stacked vertically */
    white-space: nowrap; /* Prevents items from wrapping */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0%;
    overflow: hidden; /* Prevents content from expanding the box */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*"#menu ul a" above sets up the navigation block links. The "border-right" property sets up a black line border to the right of each rectangular link.*/

#breadcrumbs {
 padding: 10px 30px 10px 0px;
 font-size: 0.9em;
 font-family: Calibri, Optima, Arial, sans-serif;
 right:-30px;
}


#main-content {
 clear: left; 
 width: 100;
 height: auto;
 padding: 15px 0px 0px 15px;
}


#footer {
 height: 20pt;
 font-size: 10pt;
 width: 100%; 
 background-color:#D6C299;
 text-align: center; 
 margin:0px;
}


body {
    scroll-behavior: smooth;
    background-color:#b0c4de;
} 


.textwrap-image {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0; Adjust the margin as needed */
    float: right; /* or right */
    /* margin: 25px; Adjusts space around the div */
    margin: 10px 20px 10px 40px; /* top, right, bottom, left */
    width: 50%; /* Adjusts the width of the div */



}

.textwrap-image img {
    /* max-width: 50%; Ensures image is responsive */
    /* height: auto; Maintains aspect ratio */
    width: 100%; /* Makes the image take full width of the div */
    height: auto; /* Maintains aspect ratio */
}

.textwrap-image p {
    margin-top: 5px; /* Adds space between the image and the text */
    font-style: italic; /* Optional: for italicized figure description */
}

.textwrap-image-left {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0; Adjust the margin as needed */
    float: left; /* or right */
    /* margin: 25px; Adjusts space around the div */
    margin: 20px 0px 10px 40px; /* top, right, bottom, left */
    width: 50%; /* Adjusts the width of the div */

}

.textwrap-image-left img {
    /* max-width: 50%; Ensures image is responsive */
    /* height: auto; Maintains aspect ratio */
    width: 80%; /* Makes the image take full width of the div */
    height: auto; /* Maintains aspect ratio */
}

.textwrap-image-left p {
    margin-top: 20px; /* Adds space between the image and the text */
    font-style: italic; /* Optional: for italicized figure description */
}



.button {
    background-color:#D6C299;
    border: none; /* No borders */
    color: black; /* White text */
    padding: 15px 32px; /* Top and bottom padding, left and right padding */
    text-align: center; /* Center-aligned text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Allows setting width and height */
    position:relative;
    font-size: 16px; /* Font size */
    margin: 10px 0px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s;
}

/* Ensure text color remains black on hover, focus, and visited states */
.button:visited {
    color: black; /* Keeps the text color black */
    text-decoration: none; /* Prevents any text underline */
}



/*This changes the background color on the outside of everything that is in the container.  In this case, it provides a nice contrast with the white background of the main-content area and area to the left and right of the main-content area.*/ 

 
p {font-family: Calibri, Optima, Arial, sans-serif; text-indent: 25px; margin: 5px 30px 0px 0px; font-size: 1.0em;}

ol {font-family: Calibri, Optima, Arial, sans-serif; text-indent: 25px; margin: 5px 30px 0px 0px; font-size: 1.0em;}

p.block {margin-left: 50px; margin-right: 20px; text-indent: 0px;}

p.leftpquote {float: left; width: 8.0em; background: #D6C299; padding:1.0em; margin: 0.4em 0.4em 0.0em 0.0em ; font-size: 1.1em;}

p.rightpquote {float: right; width: 8.0em; background: #D6C299; padding:1.0em; margin: 0.4em 0.0em 0.0em 0.4em ; font-size: 1.1em;}

/* "pquote" is for "pull quote" or the call outs.*/ 


p.display-field {display: inline-block; padding-left: 50px; text-indent: -50px;}

/* This code is used for the hanging indents in the Work Cited page. */


.imageleftcaption {font-size:80%; text-align:center; float:left; margin: 0px 10px 10px 0px; position:relative; top:5px; font-family: Calibri, Optima, Arial, sans-serif;}

.imagerightcaption {font-size:80%; text-align:center; float:right; margin: 0px 0px 0px 0px; position:relative; top:5px; font-family: Calibri, Optima, Arial, sans-serif;}


h1,h2,h3,h4,h5,h6 {font-family: Verdana, Arial, Helvetica, sans-serif;}


h4 {font-size:1.2em;}

h5 {font-size:1.1em;}

h6 {font-size:0.8em; margin-bottom: 10px;
}


a:link {text-decoration: none; color: #3300ff; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:visited {text-decoration: none; color: #3399ff; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:hover {text-decoration: underline; color: #ee99bb; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:active {text-decoration: underline; color:#000000; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}


.italic {font-style:italic;}

.glossary {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.glossary h1 {
    text-align: center;
    padding: 20px 0;
}
.glossary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.glossary li {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.glossary li strong {
    font-weight: bold;
}

p.leftpquote {float: left; width: 8.0em; background: #D6C299; padding: 1.0em; margin: 0.4em 0.4em 0.0em 0.0em; font-size: 1.1em; }

p.rightpquote {float: right; width: 8.0em; background: #D6C299; padding: 1.0em; margin: 0.4em 0.0em 0.0em 0.4em; font-size: 1.1em; }
